

#wrapper {
    border: 2px dotted blue;
    max-width: 1300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
}


#heading {
    border: 2px dotted red;
    text-align: center;
    margin: 10px;
}

#accounts {
    border: 2px dotted green;
    display: flex;
    justify-content: space-evenly;
}

.option {
    border: 2px dotted purple;
    display: inline-block;
    margin: 10px;
    text-align: center;
}